body {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: black;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8rem;

  a {
    color: #a40000;

    &:hover {
      color: rgb(92, 29, 152);
      text-decoration: underline;
    }
  }
}

header {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    font-size: 1.5rem;
    display: flex;
    gap: 5rem;
    padding: 0;
    margin: 0;
  }
}

main {
  flex: 1;
  padding-bottom: 1rem;
  max-width: 695px;
  display: flex;
  flex-direction: column;

  article {
    margin-top: 2rem;

    h2 {
      font-size: 1.5rem;
      padding-bottom: 0.1rem;
    }

    &:last-child {
      justify-content: center;
      align-items: center;
    }
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    article {
      max-width: 50%;
    }
  }

  button {
    background-color: red;
    border-radius: 15px;
    border: rgb(90, 3, 3) solid 2px;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;

    &:hover {
      background-color: rgb(151, 5, 5);
    }
  }
}

footer {
  margin-bottom: 0.2rem;
  color: rgb(2, 100, 100);
}

.download-btn {
  display: inline-block;
  background-color: #900101;
  border-radius: 15px;
  border: rgb(90, 3, 3) solid 2px;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  color: aqua;
  font-family: "EB Garamond", serif;
  text-decoration: none;

  &:hover {
    background-color: rgb(151, 5, 5);
    color: aqua;
  }
}
@media (max-width: 600px) {
  body {
    padding: 0 1rem;
    font-size: 0.75rem;
  }

  header {
    ul {
      font-size: 1rem;
      gap: 2rem;
    }
  }

  main {
    margin-top: -1rem;
    div {
      flex-direction: column;
      margin-top: -1rem;
      article {
        max-width: 100%;
      }
      article:nth-child(2) {
        margin-top: -1rem;
      }
    }
  }
}

