body {
  max-width: 800px;
  margin: 0 auto;
  background-color: black;
  color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "EB Garamond", serif;
  padding-left: 2rem;
  padding-right: 2rem;
}

header {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 3rem;

  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

main {
  padding-bottom: 5rem;
  max-width: 695px;
  display: flex;
  flex-direction: column;

  article {
    margin-top: 2rem;

    h2 {
      font-size: 1.5rem;
    }
  }

  article:last-child {
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: red;
    border-radius: 15px;
    border: rgb(90, 3, 3) solid 2px;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    color: aqua;
    font-family: "EB Garamond", serif;
  }

  button:hover {
    background-color: rgb(151, 5, 5);
  }
}

a {
  color: blueviolet;
}

a:hover {
  color: rgb(92, 29, 152);
  text-decoration: underline;
}
.download {
  justify-content: center;
  align-self: center;
}
footer {
  margin-bottom: 0.2rem;
  color: rgb(2, 100, 100);
}
.download-btn {
  display: inline-block;
  background-color: red;
  border-radius: 15px;
  border: rgb(90, 3, 3) solid 2px;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  color: aqua;
  font-family: "EB Garamond", serif;
  text-decoration: none;
}
.download-btn:hover {
  background-color: rgb(151, 5, 5);
  color: aqua;
}
