<%- include('partials/header', { title: 'Home' }) %>

<section>
  <p>
    Spellblade is a tabletop roleplaying game built around a special d100 composite die system 
    that delivers intricate, deadly combat with precise outcomes.
</p>
  <p>
    Rather than locking players into classes or rigid levels, Spellblade uses a fully open 
    progression system. Characters grow through the combat disciplines they actually use, plus 
    a wide range of non-combat skills. You become what you do.
</p>
  <p>
    Armour in Spellblade is layered and modular, each piece provides different protection with 
    real tradeoffs. A full suit of plate stops most blows but weighs you down and limits mobility. 
    Light armour keeps you quick and nimble but leaves you vulnerable to deadly hits. What you wear 
    defines your character as much as any stat.
</p>
 <p>
    Spellblade's magic system is fully modular. You build spells by choosing shapes, effects, 
    spell level which determines how many dice you roll and power, which determines the die type itself. 
    Craft exactly what you need rather than selecting from preset kits. But there's a cost: the more 
    powerful your spell, the greater the risk of Arcane Instability. Push too hard and your magic 
    becomes unpredictable. warping into uncontrollable, bizarre, or outright dangerous and deadly effects. 
</p>
<p>
    Spellblade was built for players who embrace precision and modularity. The systems demand 
    bookkeeping and a calculator, there's no way around it. But complexity and crunch are not 
    the same thing. Every rule exists to create meaningful choices in gear, magic, and combat, 
    not to bury you in unnecessary mechanics. If you love systems with real depth, where the 
    numbers matter and your decisions compound, Spellblade is for you.
</p>
</section>

<hr />

<section class="cards">
  <article>
    <h2>Contact</h2>
    <p>
      Questions, input, reviews or want to offer help? reach out directly.
    </p>
    <a href="mailto:empireroadgames@gmail.com">empireroadgames@gmail.com</a>
  </article>

  <article>
    <h2>Download</h2>
    <p>Spellblade is currently being extensively reworked.below is an older version All input, good or bad, is welcome.</p>
    <a href="/SpellBlade-TTRPG-Pre-Alpha-0.4.pdf" download class="btn">
      OUT OF DATE Download Pre-Alpha 0.4
    </a>
  </article>
</section>

<%- include('partials/footer') %>